<title>sikapress</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="http://drive.ondrejsika.com/sikalogo/v1/sikalogo.css">
<style>
* {
    font-family: "sikalogo";
}
body {
    padding-top: 20px;
}
h2 {
    font-size: 50px;
}
</style>
<center>
<h1 class="sikalogo"><strong>sika</strong>press</h1></td>
<h2>Comming soon</h2>
<a href="mailto:ondrej@ondrejsika.com">ondrej@ondrejsika.com</a>
</center>

